<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOPII_Project_Online_Book_Store.Properties.Settings.bookstore1ConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=bookstore1;User ID=bookstore1;Password=admin123."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>